@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}

ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0rem 1rem;
}

li{
  margin-bottom: 1rem;
}

